version: '3.8'

services:
  chat-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat-service
    ports:
      - "8084:8084"
    volumes:
      - ./.env:/app/.env:ro
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    restart: unless-stopped
