version: '3.8'

services:
  chat-api:
    image: python:3.11-slim
    container_name: chat-service
    network_mode: "host"
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    command: >
      bash -c "
        pip install --no-cache-dir -r requirements.txt &&
        uvicorn main:app --host 0.0.0.0 --port 80 --reload
      "
    restart: unless-stopped
